body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    position: relative;
    text-align: center;
}

.form-wrapper {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
}

h1 {
    font-size: 24px;
    color: #000;
}

label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Легкая рамка */
    border-radius: 5px;
    background-color: #f1f1f1; /* Светлый фон для инпутов */
    color: #333; /* Темный текст для контраста */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0077ff; /* Синий для кнопки */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0055cc;
}

.logo-container {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 20px;
}

body {
    padding-top: 30px;
}
